body {
    background-color: gold;
    background-image: url("https://www.visittheusa.co.uk/sites/default/files/styles/hero_m_1300x700/public/images/hero_media_image/2016-10/HERO%201_Nashville_TN_shutterstock_208620637_Web72DPI.jpg?itok=FBV9aqp0");
    background-size: cover;
}

h1 {
    color: gold;
    text-shadow: 0 0 18px black;
    margin-left: 20px;
}

.form__box {
    display: flex;
    flex-direction: column;
    color: red;
    width: 40%;
    font-size: 20px;
    background-color: black;
    opacity: 85%;
    border:black 5px double;
    margin: 15px;
}

.input__field {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: blue;
    background-color: silver;
    line-height: 20px;
}

#journalDate {
    display: flex;
    flex-direction: row;
}

#conceptsCovered {
    width: 75%;
}

#journalEntry {
    width: 75%;
}

#button {
    background-color: red;
    width: 100px;
    height: 30px;
    display: flex;
    font-size: 12px;
    border: red 1px solid;
    border-radius: 5px;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

#button:hover {
    color: gold;
    box-shadow: 0 0 3px 3px gold;
}

.journalEntryCard {
    background-color: silver;
    opacity: 75%;
    padding: 10px;
    margin: 15px;
    border: black 3px solid;
    width: 50%;
}

.singleEntryDate {
    color: firebrick;
}